<div class="alert alert-info">Please enter a bet below.</div>

<div class="well" id="table">
</div>

<div class="well" id="bottom_well">
	<div align="center">
		<form class="form-inline" action='/bet' method='post' id="bet_form">
		  <div class="input-prepend">
  			<span class="add-on">$</span>
  			<div class="input-append">
	  			<input class="span2" type="text" placeholder="Bet Amount" name="bet">
	  			<input type="submit" value="Deal" class="btn btn-primary">
	  		</div>
			</div>
		</form>
	</div>
</div>


