<div class="well" id="splash">
	<div class="set_username">
		<h4>Enter your name to play:</h4>
		<form action="/set_username" method="post">
			<div class="input-append">
			  <input class="span2" type="text" placeholder="Name" name="username"/>
			  <input type="submit" class="btn" value="Go!"/>
		  </div>
		</form>
	</div>
</div>