<div class="well" id="splash">
	<div class="set_username">
		<h4>Please enter your name to play:</h4>
		<form action="/set_username" method="post">
		  <input type="text" name="username"/>
		  <br/>
		  <input type="submit" class="btn"/>
		</form>
	</div>
</div>